@charset "utf-8";

/* index.html */
body {
	background-color: #F3FFD8;
}

.index-h {
	text-align: center;
}


/* すべてのページに表示するナビゲーションのスタイル */
.main-nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 25px;
}

.main-nav a {
	text-decoration: none;
}

.flex-container {
	display: flex;
	justify-content: center;
	gap: 25px;
}


/* リンクの下線を消し、ホバーした時だけ表示してポインターも変える */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* 文字や数式の大きさを大きめに設定 */
p {
	font-size: 24px;
}

ul, li {
	font-size: 24px;
}

.update-container {
  width: 80%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.update-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.update-item h3 {
  margin: 0;
  font-size: 1em; /* タイトル文字サイズ調整 */
}

.update-item p {
  margin: 5px 0 0;
  color: #555;
  line-height: 1.5;
  font-size: 14px; /* 本文文字サイズ調整 */
}
